
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
}

<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome, @User.Identity.Name!</p>
            <p>You are now logged in.</p>
        }
        else
        {
            <p>Welcome, Guest!</p>
            <p>Please register or log in to access more features.</p>
        }
    </div>
</body>


