@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
}

<style>
    .login-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-bottom: 10px;
    }

        button:hover {
            background-color: #0056b3;
        }

    .register-link,
    .forgot-password-link {
        text-align: center;
        margin-top: 10px;
    }
</style>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="login-form">
    <form action="@Url.Action("LoginUser", "User")" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="Fullname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="register-link">
        <a href="@Url.Action("Register", "User")">Register</a>
    </div>
    <div class="forgot-password-link">
        <a href="@Url.Action("ForgotPassword", "User")">Forgot Password?</a>
    </div>
</div>